<div class="col-md-2 col-20 right-side-bar">
    <div class="user-profile">
        <span class="circle-name">S</span>
        <span class="margin-l mobile-font">Shyam Amrtiya</span>
    </div>
    <ul class="list-group" style="margin-top: 20px;">
        <li class="list-group-item list-tag">
            <i class="fa fa-newspaper-o mr-sm"></i> News Feed
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-globe mr-sm fa-lg"></i> Messenger
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-hotel mr-sm"></i> Marketplace
        </li>
        <li class="list-group-item list-tag">
            <b class="gray-text text-bold">Explore</b>
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-calendar mr-sm"></i> Events
            <span class="badge badge-hidden">2</span>
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-users mr-sm"></i> Groups
            <span class="badge badge-hidden">8</span>
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-user mr fa-lg"></i> Friend Lists
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-file-alt mr-sm"></i> Pages Feed
            <span class="badge badge-hidden">20+</span>
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-gamepad mr-sm"></i> Games
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-image mr-sm"></i> Photos
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-hands-helping mr-sm"></i> Offers
            <span class="badge badge-hidden">1</span>
        </li>
        <li class="list-group-item list-tag">
            <i class="fa fa-caret-down mr-sm"></i>
            <a>See More...</a>
        </li>
    </ul>
</div>