<div class="col-md-2 col-20 mobile-view" style="border-left:1px solid #93969a; position: fixed; right: 0; min-height: 50%;">
    <div style="padding: 10px;">
        <b class="text-muted">FEED</b>
    </div>
    <div class="chat-list">
      <div class="media mt">
        <div class="media-left">
            <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
        </div>
        <div class="media-body">
            <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
        </div>
    </div>
    <div class="media mt">
      <div class="media-left">
          <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
      </div>
      <div class="media-body">
          <div class="media-heading mb0 mt-sm text-black">Durgesh Patidar</div>
      </div>
  </div>
  <div class="media mt">
    <div class="media-left">
        <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
    </div>
    <div class="media-body">
        <div class="media-heading mb0 mt-sm text-black">Shubham Sharma</div>
    </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/05.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Varsha Patidar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Mahendra Raghu</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/05.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Sneha Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/05.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Sapna Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
  </div>
</div>
    </div>
    <div style="padding: 10px; min-height:50%;">
        <b class="gray-text">USER</b>

    <div class="chat-list">
      <div class="media mt">
        <div class="media-left">
            <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
        </div>
        <div class="media-body">
            <div class="media-heading mb0 mt-sm text-black">Shubham Sharma</div>
        </div>
    </div>
    <div class="media mt">
      <div class="media-left">
          <img src="assets/user/05.jpg" style="height:33px;border-radius:50%" class=" media-object">
      </div>
      <div class="media-body">
          <div class="media-heading mb0 mt-sm text-black">Varsha Patidar</div>
      </div>
    </div>
    <div class="media mt">
      <div class="media-left">
          <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
      </div>
      <div class="media-body">
          <div class="media-heading mb0 mt-sm text-black">Mahendra Raghu</div>
      </div>
    </div><div class="media mt">
      <div class="media-left">
          <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
      </div>
      <div class="media-body">
          <div class="media-heading mb0 mt-sm text-black">Shubham Sharma</div>
      </div>
  </div>
  <div class="media mt">
    <div class="media-left">
        <img src="assets/user/05.jpg" style="height:33px;border-radius:50%" class=" media-object">
    </div>
    <div class="media-body">
        <div class="media-heading mb0 mt-sm text-black">Varsha Patidar</div>
    </div>
  </div>
  <div class="media mt">
    <div class="media-left">
        <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
    </div>
    <div class="media-body">
        <div class="media-heading mb0 mt-sm text-black">Mahendra Raghu</div>
    </div>
  </div><div class="media mt">
    <div class="media-left">
        <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
    </div>
    <div class="media-body">
        <div class="media-heading mb0 mt-sm text-black">Shubham Sharma</div>
    </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/05.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Varsha Patidar</div>
  </div>
</div>
<div class="media mt">
  <div class="media-left">
      <img src="assets/user/02.jpg" style="height:33px;border-radius:50%" class=" media-object">
  </div>
  <div class="media-body">
      <div class="media-heading mb0 mt-sm text-black">Mahendra Raghu</div>
  </div>
</div>
    </div>
    </div>
</div>
