<div class="col-md-5 col-40 col-md-offset-2 ">
    <div class="feed-container">
        <form>
            <div class="form-group">
                <label for="feed">
                    <i class="fa fa-pencil ml-sm "></i> Compose Post</label>
                <input type="text" placeholder="Write something here..."  class="form-control" id="feed">
            </div>
            <button type="submit" class="btn btn-default">Post</button>
        </form>
    </div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
    <div class="feed-content"></div>
</div>