<div class="col-md-3 col-20 sticky  m-view">
    <div class="content" style="min-height: 300px;">
        <h4 class="text-muted">Stories
            <span class="pull-right">
                ...
            </span>
        </h4>
        <div class="media mt">
            <div class="media-left">
                <img src="assets/img/plus.png" style="height:55px" class=" media-object">
            </div>
            <div class="media-body">
                <div class="media-heading mb0 mt-sm text-black">Add to your story</div>
                <small class="text-muted mt0 stories-text" >Share your photo,video or write something</small>
            </div>
        </div>
        <div class="media mt">
            <div class="media-left">
                <img src="assets/user/02.jpg" style="height:55px;border-radius:50%" class=" media-object">
            </div>
            <div class="media-body">
                <div class="media-heading mb0 mt-sm text-black">Shubham Gurjar</div>
                <small class="text-muted mt0 stories-text" >2 hrs ago</small>
            </div>
        </div>
        <div class="media mt">
            <div class="media-left">
                <img src="assets/user/05.jpg" style="height:55px;border-radius:50%" class=" media-object">
            </div>
            <div class="media-body">
                <div class="media-heading mb0 mt-sm text-black">Varsha Patidar</div>
                <small class="text-muted mt0 stories-text" >2 hrs ago</small>
            </div>
        </div>
    </div>
    <div class="content">
        <h5 class="text-muted" style="line-height:1.5">
            <i class="fa fa-birthday-cake mr-sm"></i>
            <a>Shubham Gurjar</a> and
            <a> 4 other</a> birthday...
        </h5>
    </div>
    <div class="content" style="min-height: 220px;">
        <h4 class="text-muted">Suggested Groups
            <span class="pull-right h5 mt-sm">
                <a>See all</a>
            </span>
        </h4>
        <div>
          <img src="assets/group/group1.jpg" class="img-responsive">
          <div class="mt">Redmi 
            <span class="pull-right"><button class="btn btn-default btn-sm">+ Join</button></span>
          </div>
        </div>
    </div>
    <div class="content" style="min-height: 150px;">
        <h4 class="text-muted">Friend Requests
            <span class="pull-right h5 mt-sm">
                <a>See all</a>
            </span>
            <div class="user-profile top-30 mt-lg">
                <span class="circle-name">S</span>
                <span class="ml mobile-font h5">Shubham Sharma</span>
                <span class="last-view pull-right">
                    <i class="fa fa-user-plus text-muted mt"></i>
                </span>
            </div>
            <div class="user-profile top-30 mt">
                <span class="circle-name">S</span>
                <span class="ml mobile-font h5">Shubham Gurjar</span>
                <span class="last-view pull-right">
                    <i class="fa fa-user-plus  text-muted mt"></i>
                </span>
            </div>
            <div class="user-profile top-30 mt">
                <span class="circle-name">S</span>
                <span class="ml mobile-font h5">Shreyas Bidwai</span>
                <span class="last-view pull-right">
                    <i class="fa fa-user-plus  text-muted mt"></i>
                </span>
            </div>
        </h4>
    </div>
    <div class="content" style="min-height: 100px;">
        <h4 class="text-muted">Add Section
            <span class="pull-right">
                ...
            </span>
        </h4>
    </div>
</div>