<div class="wrapper">
    <!-- top navbar-->
    <app-navbar class="topnavbar-wrapper"></app-navbar>
    <!-- sidebar-->
    <!-- <app-sidebar class="aside"></app-sidebar> -->
    <!-- offsidebar-->
    <!-- Main section-->
        <!-- Page content-->
        <div class="container-fluid">
            <app-offsidebar></app-offsidebar>
            <app-post></app-post>
            <app-stories></app-stories>
            <app-games></app-games>
            </div>
    <!-- Page footer-->
    
</div>