.searchbar{
    width:360px;
}
.fa-facebook-square{
font-size: 1.8em;
}
.fa{
    color:#fff;
}
.navbar-brand{
    color:#fff;
}
.navbar-nav li a{
    color:#fff !important;
}

.navbar-inverse {
    background-color: #4266b2;
    border-color: #4266b2;
    position: fixed;
    width: 100%;
    z-index: 100;
}